services:
  mail:
    image: ghcr.io/egos-tech/smtp:1.1.3
    restart: always
    environment:
      # For use with Amazon SES relay
      - "SES_USER=${MISP_SES_USER}"
      - "SES_PASSWORD=${MISP_SES_PASSWORD}"
      - "SES_REGION=${MISP_SES_REGION}"
      - "SES_PORT=${MISP_SES_PORT}"
      # Generic SMTP relay
      - "SMARTHOST_ADDRESS=${MISP_SMARTHOST_ADDRESS}"
      - "SMARTHOST_PORT=${MISP_SMARTHOST_PORT}"
      - "SMARTHOST_USER=${MISP_SMARTHOST_USER}"
      - "SMARTHOST_PASSWORD=${MISP_SMARTHOST_PASSWORD}"
      - "SMARTHOST_ALIASES=${MISP_SMARTHOST_ALIASES}"
    networks:
      - misp-net

  redis:
    image: valkey/valkey:7.2
    restart: always
    command: |
      sh -c '
        if [ "$${MISP_ENABLE_REDIS_EMPTY_PASSWORD:-false}" = "true" ]; then
          exec valkey-server
        else
          exec valkey-server --requirepass "$${MISP_REDIS_PASSWORD:-redispassword}"
        fi
      '
    environment:
      - "ENABLE_REDIS_EMPTY_PASSWORD=${MISP_ENABLE_REDIS_EMPTY_PASSWORD:-false}"
      - "REDIS_PASSWORD=${MISP_REDIS_PASSWORD:-redispassword}"
      - "REDIS_PORT=${MISP_REDIS_PORT:-6379}"
    healthcheck:
      test: |
        sh -c '
          if [ "$${MISP_ENABLE_REDIS_EMPTY_PASSWORD:-false}" = "true" ]; then
            valkey-cli -p $${MISP_REDIS_PORT:-6379} ping | grep -q PONG || exit 1
          else
            valkey-cli -a "$${MISP_REDIS_PASSWORD:-redispassword}" -p $${MISP_REDIS_PORT:-6379} ping | grep -q PONG || exit 1
          fi
        '
      interval: 2s
      timeout: 1s
      retries: 3
      start_period: 5s
      start_interval: 5s
    volumes:
      - cache_data:/data:Z
    networks:
      - misp-net

  db:
    image: mariadb:10.11
    restart: always
    environment:
      - "MYSQL_USER=${MISP_MYSQL_USER:-misp}"
      - "MYSQL_PASSWORD=${MISP_MYSQL_PASSWORD:-example}"
      - "MYSQL_ROOT_PASSWORD=${MISP_MYSQL_ROOT_PASSWORD:-password}"
      - "MYSQL_DATABASE=${MISP_MYSQL_DATABASE:-misp}"
    command: "\
      --innodb-buffer-pool-size=${MISP_INNODB_BUFFER_POOL_SIZE:-2048M} \
      --innodb-change-buffering=${MISP_INNODB_CHANGE_BUFFERING:-none} \
      --innodb-io-capacity=${MISP_INNODB_IO_CAPACITY:-1000} \
      --innodb-io-capacity-max=${MISP_INNODB_IO_CAPACITY_MAX:-2000} \
      --innodb-log-file-size=${MISP_INNODB_LOG_FILE_SIZE:-600M} \
      --innodb-read-io-threads=${MISP_INNODB_READ_IO_THREADS:-16} \
      --innodb-stats-persistent=${MISP_INNODB_STATS_PERSISTENT:-ON} \
      --innodb-write-io-threads=${MISP_INNODB_WRITE_IO_THREADS:-4}"
    volumes:
      - mysql_data:/var/lib/mysql:Z
    cap_add:
      - SYS_NICE
    healthcheck:
      test: mysqladmin --user=$$MYSQL_USER --password=$$MYSQL_PASSWORD status
      interval: 2s
      timeout: 1s
      retries: 3
      start_period: 30s
      start_interval: 5s
    networks:
      - misp-net

  misp-core:
    image: ghcr.io/misp/misp-docker/misp-core:${MISP_CORE_RUNNING_TAG:-latest}
    restart: always
    cap_add:
      - AUDIT_WRITE
    build:
      args:
        - CORE_TAG=${MISP_CORE_TAG:?Missing or outdated .env file, see README.md for instructions}
        - CORE_COMMIT=${MISP_CORE_COMMIT}
        - CORE_FLAVOR=${MISP_CORE_FLAVOR:-standard}
        - PHP_VER=${MISP_PHP_VER:?Missing or outdated .env file, see README.md for instructions}
        - PYPI_REDIS_VERSION=${MISP_PYPI_REDIS_VERSION}
        - PYPI_LIEF_VERSION=${MISP_PYPI_LIEF_VERSION}
        - PYPI_PYDEEP2_VERSION=${MISP_PYPI_PYDEEP2_VERSION}
        - PYPI_PYTHON_MAGIC_VERSION=${MISP_PYPI_PYTHON_MAGIC_VERSION}
        - PYPI_MISP_LIB_STIX2_VERSION=${MISP_PYPI_MISP_LIB_STIX2_VERSION}
        - PYPI_MAEC_VERSION=${MISP_PYPI_MAEC_VERSION}
        - PYPI_MIXBOX_VERSION=${MISP_PYPI_MIXBOX_VERSION}
        - PYPI_CYBOX_VERSION=${MISP_PYPI_CYBOX_VERSION}
        - PYPI_PYMISP_VERSION=${MISP_PYPI_PYMISP_VERSION}
        - PYPI_MISP_STIX_VERSION=${MISP_PYPI_MISP_STIX_VERSION}
        - PYPI_TAXII2_CLIENT=${MISP_PYPI_TAXII2_CLIENT}
        - PYPI_SETUPTOOLS_VERSION=${MISP_PYPI_SETUPTOOLS_VERSION}
        - PYPI_SUPERVISOR_VERSION=${MISP_PYPI_SUPERVISOR_VERSION}
    depends_on:
      redis:
        condition: service_healthy
      db:
        condition: service_healthy
      misp-modules:
        condition: service_healthy
    healthcheck:
      test: curl -ks ${MISP_BASE_URL:-https://localhost}/users/heartbeat > /dev/null || exit 1
      interval: 2s
      timeout: 1s
      retries: 3
      start_period: 30s
      start_interval: 30s
    ports:
      - "${MISP_CORE_HTTP_PORT:-80}:80"
      - "${MISP_CORE_HTTPS_PORT:-443}:443"
    volumes:
      - "./configs/:/var/www/MISP/app/Config/:Z"
      - "./logs/:/var/www/MISP/app/tmp/logs/:Z"
      - "./files/:/var/www/MISP/app/files/:Z"
      - "./ssl/:/etc/nginx/certs/:Z"
      - "./gnupg/:/var/www/MISP/.gnupg/:Z"
    environment:
      - "BASE_URL=${MISP_BASE_URL}"
      - "CRON_USER_ID=${MISP_CRON_USER_ID}"
      - "CRON_PULLALL=${MISP_CRON_PULLALL}"
      - "CRON_PUSHALL=${MISP_CRON_PUSHALL}"
      - "DISABLE_IPV6=${MISP_DISABLE_IPV6}"
      - "DISABLE_SSL_REDIRECT=${MISP_DISABLE_SSL_REDIRECT}"
      - "ENABLE_DB_SETTINGS=${MISP_ENABLE_DB_SETTINGS}"
      - "ENABLE_BACKGROUND_UPDATES=${MISP_ENABLE_BACKGROUND_UPDATES}"
      - "ENCRYPTION_KEY=${MISP_ENCRYPTION_KEY}"
      - "DISABLE_CA_REFRESH=${MISP_DISABLE_CA_REFRESH}"
      - "DISABLE_PRINTING_PLAINTEXT_CREDENTIALS=${MISP_DISABLE_PRINTING_PLAINTEXT_CREDENTIALS}"
      - "ADMIN_EMAIL=${MISP_ADMIN_EMAIL}"
      - "MISP_CONTACT=${MISP_MISP_CONTACT}"
      - "MISP_EMAIL=${MISP_MISP_EMAIL}"
      - "ADMIN_PASSWORD=${MISP_ADMIN_PASSWORD}"
      - "ADMIN_KEY=${MISP_ADMIN_KEY}"
      - "ADMIN_ORG=${MISP_ADMIN_ORG}"
      - "ADMIN_ORG_UUID=${MISP_ADMIN_ORG_UUID}"
      - "GPG_PASSPHRASE=${MISP_GPG_PASSPHRASE}"
      - "ATTACHMENTS_DIR=${MISP_ATTACHMENTS_DIR}"
      - "OIDC_ENABLE=${MISP_OIDC_ENABLE}"
      - "OIDC_PROVIDER_URL=${MISP_OIDC_PROVIDER_URL}"
      - "OIDC_ISSUER=${MISP_OIDC_ISSUER}"
      - "OIDC_CLIENT_ID=${MISP_OIDC_CLIENT_ID}"
      - "OIDC_CLIENT_SECRET=${MISP_OIDC_CLIENT_SECRET}"
      - "OIDC_CODE_CHALLENGE_METHOD=${MISP_OIDC_CODE_CHALLENGE_METHOD}"
      - "OIDC_ROLES_PROPERTY=${MISP_OIDC_ROLES_PROPERTY}"
      - "OIDC_ROLES_MAPPING=${MISP_OIDC_ROLES_MAPPING}"
      - "OIDC_DEFAULT_ORG=${MISP_OIDC_DEFAULT_ORG}"
      - "OIDC_MIXEDAUTH=${MISP_OIDC_MIXEDAUTH}"
      - "OIDC_AUTH_METHOD=${MISP_OIDC_AUTH_METHOD}"
      - "OIDC_REDIRECT_URI=${MISP_OIDC_REDIRECT_URI}"
      - "OIDC_SCOPES=${MISP_OIDC_SCOPES}"
      - "OIDC_LOGOUT_URL=${MISP_OIDC_LOGOUT_URL}"
      - "APACHESECUREAUTH_LDAP_OLD_VAR_DETECT=${MISP_LDAP_ENABLE}"
      - "APACHESECUREAUTH_LDAP_ENABLE=${MISP_APACHESECUREAUTH_LDAP_ENABLE:-${MISP_LDAP_ENABLE}}"
      - "APACHESECUREAUTH_LDAP_APACHE_ENV=${MISP_APACHESECUREAUTH_LDAP_APACHE_ENV:-${MISP_LDAP_APACHE_ENV}}"
      - "APACHESECUREAUTH_LDAP_SERVER=${MISP_APACHESECUREAUTH_LDAP_SERVER:-${MISP_LDAP_SERVER}}"
      - "APACHESECUREAUTH_LDAP_STARTTLS=${MISP_APACHESECUREAUTH_LDAP_STARTTLS:-${MISP_LDAP_STARTTLS}}"
      - "APACHESECUREAUTH_LDAP_READER_USER=${MISP_APACHESECUREAUTH_LDAP_READER_USER:-${MISP_LDAP_READER_USER}}"
      - "APACHESECUREAUTH_LDAP_READER_PASSWORD=${MISP_APACHESECUREAUTH_LDAP_READER_PASSWORD:-${MISP_LDAP_READER_PASSWORD}}"
      - "APACHESECUREAUTH_LDAP_DN=${MISP_APACHESECUREAUTH_LDAP_DN:-${MISP_LDAP_DN}}"
      - "APACHESECUREAUTH_LDAP_SEARCH_FILTER=${MISP_APACHESECUREAUTH_LDAP_SEARCH_FILTER:-${MISP_LDAP_SEARCH_FILTER}}"
      - "APACHESECUREAUTH_LDAP_SEARCH_ATTRIBUTE=${MISP_APACHESECUREAUTH_LDAP_SEARCH_ATTRIBUTE:-${MISP_LDAP_SEARCH_ATTRIBUTE}}"
      - "APACHESECUREAUTH_LDAP_FILTER=${MISP_APACHESECUREAUTH_LDAP_FILTER:-${MISP_LDAP_FILTER}}"
      - "APACHESECUREAUTH_LDAP_DEFAULT_ROLE_ID=${MISP_APACHESECUREAUTH_LDAP_DEFAULT_ROLE_ID:-${MISP_LDAP_DEFAULT_ROLE_ID}}"
      - "APACHESECUREAUTH_LDAP_DEFAULT_ORG=${MISP_APACHESECUREAUTH_LDAP_DEFAULT_ORG:-${MISP_LDAP_DEFAULT_ORG}}"
      - "APACHESECUREAUTH_LDAP_EMAIL_FIELD=${MISP_APACHESECUREAUTH_LDAP_EMAIL_FIELD:-${MISP_LDAP_EMAIL_FIELD}}"
      - "APACHESECUREAUTH_LDAP_OPT_PROTOCOL_VERSION=${MISP_APACHESECUREAUTH_LDAP_OPT_PROTOCOL_VERSION:-${MISP_LDAP_OPT_PROTOCOL_VERSION}}"
      - "APACHESECUREAUTH_LDAP_OPT_NETWORK_TIMEOUT=${MISP_APACHESECUREAUTH_LDAP_OPT_NETWORK_TIMEOUT:-${MISP_LDAP_OPT_NETWORK_TIMEOUT}}"
      - "APACHESECUREAUTH_LDAP_OPT_REFERRALS=${MISP_APACHESECUREAUTH_LDAP_OPT_REFERRALS:-${MISP_LDAP_OPT_REFERRALS}}"
      - "LDAPAUTH_ENABLE=${MISP_LDAPAUTH_ENABLE}"
      - "LDAPAUTH_LDAPSERVER=${MISP_LDAPAUTH_LDAPSERVER}"
      - "LDAPAUTH_LDAPDN=${MISP_LDAPAUTH_LDAPDN}"
      - "LDAPAUTH_LDAPREADERUSER=${MISP_LDAPAUTH_LDAPREADERUSER}"
      - "LDAPAUTH_LDAPREADERPASSWORD=${MISP_LDAPAUTH_LDAPREADERPASSWORD}"
      - "LDAPAUTH_LDAPSEARCHFILTER=${MISP_LDAPAUTH_LDAPSEARCHFILTER}"
      - "LDAPAUTH_LDAPSEARCHATTRIBUTE=${MISP_LDAPAUTH_LDAPSEARCHATTRIBUTE}"
      - "LDAPAUTH_LDAPEMAILFIELD=${MISP_LDAPAUTH_LDAPEMAILFIELD}"
      - "LDAPAUTH_LDAPNETWORKTIMEOUT=${MISP_LDAPAUTH_LDAPNETWORKTIMEOUT}"
      - "LDAPAUTH_LDAPPROTOCOL=${MISP_LDAPAUTH_LDAPPROTOCOL}"
      - "LDAPAUTH_LDAPALLOWREFERRALS=${MISP_LDAPAUTH_LDAPALLOWREFERRALS}"
      - "LDAPAUTH_STARTTLS=${MISP_LDAPAUTH_STARTTLS}"
      - "LDAPAUTH_MIXEDAUTH=${MISP_LDAPAUTH_MIXEDAUTH}"
      - "LDAPAUTH_LDAPDEFAULTORGID=${MISP_LDAPAUTH_LDAPDEFAULTORGID}"
      - "LDAPAUTH_LDAPDEFAULTROLEID=${MISP_LDAPAUTH_LDAPDEFAULTROLEID}"
      - "LDAPAUTH_UPDATEUSER=${MISP_LDAPAUTH_UPDATEUSER}"
      - "LDAPAUTH_DEBUG=${MISP_LDAPAUTH_DEBUG}"
      - "LDAPAUTH_LDAPTLSREQUIRECERT=${MISP_LDAPAUTH_LDAPTLSREQUIRECERT}"
      - "LDAPAUTH_LDAPTLSCUSTOMCACERT=${MISP_LDAPAUTH_LDAPTLSCUSTOMCACERT}"
      - "LDAPAUTH_LDAPTLSCRLCHECK=${MISP_LDAPAUTH_LDAPTLSCRLCHECK}"
      - "LDAPAUTH_LDAPTLSPROTOCOLMIN=${MISP_LDAPAUTH_LDAPTLSPROTOCOLMIN}"
      - "AAD_ENABLE=${MISP_AAD_ENABLE}"
      - "AAD_CLIENT_ID=${MISP_AAD_CLIENT_ID}"
      - "AAD_TENANT_ID=${MISP_AAD_TENANT_ID}"
      - "AAD_CLIENT_SECRET=${MISP_AAD_CLIENT_SECRET}"
      - "AAD_REDIRECT_URI=${MISP_AAD_REDIRECT_URI}"
      - "AAD_PROVIDER=${MISP_AAD_PROVIDER}"
      - "AAD_PROVIDER_USER=${MISP_AAD_PROVIDER_USER}"
      - "AAD_MISP_USER=${MISP_AAD_MISP_USER}"
      - "AAD_MISP_ORGADMIN=${MISP_AAD_MISP_ORGADMIN}"
      - "AAD_MISP_SITEADMIN=${MISP_AAD_MISP_SITEADMIN}"
      - "AAD_CHECK_GROUPS=${MISP_AAD_CHECK_GROUPS}"
      - "NGINX_X_FORWARDED_FOR=${MISP_NGINX_X_FORWARDED_FOR}"
      - "NGINX_SET_REAL_IP_FROM=${MISP_NGINX_SET_REAL_IP_FROM}"
      - "NGINX_CLIENT_MAX_BODY_SIZE=${MISP_NGINX_CLIENT_MAX_BODY_SIZE:-50M}"
      - "PROXY_ENABLE=${MISP_PROXY_ENABLE}"
      - "PROXY_HOST=${MISP_PROXY_HOST}"
      - "PROXY_PORT=${MISP_PROXY_PORT}"
      - "PROXY_METHOD=${MISP_PROXY_METHOD}"
      - "PROXY_USER=${MISP_PROXY_USER}"
      - "PROXY_PASSWORD=${MISP_PROXY_PASSWORD}"
      - "S3_BUCKET=${MISP_S3_BUCKET}"
      - "S3_ENDPOINT=${MISP_S3_ENDPOINT}"
      - "S3_ACCESS_KEY=${MISP_S3_ACCESS_KEY}"
      - "S3_SECRET_KEY=${MISP_S3_SECRET_KEY}"
      - "SUPERVISOR_HOST=${MISP_SUPERVISOR_HOST}"
      - "SUPERVISOR_USERNAME=${MISP_SUPERVISOR_USERNAME}"
      - "SUPERVISOR_PASSWORD=${MISP_SUPERVISOR_PASSWORD}"
      - "SYNCSERVERS=${MISP_SYNCSERVERS}"
      - |
        SYNCSERVERS_1_DATA=
        {
          "remote_org_uuid": "${MISP_SYNCSERVERS_1_UUID}",
          "name": "${MISP_SYNCSERVERS_1_NAME}",
          "authkey": "${MISP_SYNCSERVERS_1_KEY}",
          "url": "${MISP_SYNCSERVERS_1_URL}",
          "pull_rules": "${MISP_SYNCSERVERS_1_PULL_RULES}",
          "pull": true
        }
      - "MYSQL_HOST=${MISP_MYSQL_HOST:-db}"
      - "MYSQL_PORT=${MISP_MYSQL_PORT:-3306}"
      - "MYSQL_USER=${MISP_MYSQL_USER:-misp}"
      - "MYSQL_PASSWORD=${MISP_MYSQL_PASSWORD:-example}"
      - "MYSQL_DATABASE=${MISP_MYSQL_DATABASE:-misp}"
      - "MYSQL_TLS=${MISP_MYSQL_TLS:-false}"
      - "MYSQL_TLS_CA=${MISP_MYSQL_TLS_CA}"
      - "MYSQL_TLS_CERT=${MISP_MYSQL_TLS_CERT}"
      - "MYSQL_TLS_KEY=${MISP_MYSQL_TLS_KEY}"
      - "REDIS_HOST=${MISP_REDIS_HOST:-redis}"
      - "REDIS_PORT=${MISP_REDIS_PORT:-6379}"
      - "REDIS_PASSWORD=${MISP_REDIS_PASSWORD:-redispassword}"
      - "ENABLE_REDIS_EMPTY_PASSWORD=${MISP_ENABLE_REDIS_EMPTY_PASSWORD:-false}"
      - "DEBUG=${MISP_DEBUG}"
      - "SMTP_FQDN=${MISP_SMTP_FQDN}"
      - "SMTP_PORT=${MISP_SMTP_PORT:-25}"
      - "FASTCGI_READ_TIMEOUT=${MISP_FASTCGI_READ_TIMEOUT:-300s}"
      - "FASTCGI_SEND_TIMEOUT=${MISP_FASTCGI_SEND_TIMEOUT:-300s}"
      - "FASTCGI_CONNECT_TIMEOUT=${MISP_FASTCGI_CONNECT_TIMEOUT:-300s}"
      - "FASTCGI_STATUS_LISTEN=${MISP_FASTCGI_STATUS_LISTEN}"
      - "PHP_MEMORY_LIMIT=${MISP_PHP_MEMORY_LIMIT:-2048M}"
      - "PHP_MAX_EXECUTION_TIME=${MISP_PHP_MAX_EXECUTION_TIME:-300}"
      - "PHP_UPLOAD_MAX_FILESIZE=${MISP_PHP_UPLOAD_MAX_FILESIZE:-50M}"
      - "PHP_POST_MAX_SIZE=${MISP_PHP_POST_MAX_SIZE:-50M}"
      - "PHP_MAX_INPUT_TIME=${MISP_PHP_MAX_INPUT_TIME:-300}"
      - "PHP_MAX_FILE_UPLOADS=${MISP_PHP_MAX_FILE_UPLOADS:-50}"
      - "PHP_FCGI_CHILDREN=${MISP_PHP_FCGI_CHILDREN:-5}"
      - "PHP_FCGI_START_SERVERS=${MISP_PHP_FCGI_START_SERVERS:-2}"
      - "PHP_FCGI_SPARE_SERVERS=${MISP_PHP_FCGI_SPARE_SERVERS:-1}"
      - "PHP_FCGI_MAX_REQUESTS=${MISP_PHP_FCGI_MAX_REQUESTS:-0}"
      - "PHP_SESSION_TIMEOUT=${MISP_PHP_SESSION_TIMEOUT:-60}"
      - "PHP_SESSION_COOKIE_TIMEOUT=${MISP_PHP_SESSION_COOKIE_TIMEOUT:-10080}"
      - "PHP_SESSION_DEFAULTS=${MISP_PHP_SESSION_DEFAULTS:-php}"
      - "PHP_SESSION_AUTO_REGENERATE=${MISP_PHP_SESSION_AUTO_REGENERATE:-false}"
      - "PHP_SESSION_CHECK_AGENT=${MISP_PHP_SESSION_CHECK_AGENT:-false}"
      - "PHP_SESSION_COOKIE_SECURE=${MISP_PHP_SESSION_COOKIE_SECURE:-true}"
      - "PHP_SESSION_COOKIE_DOMAIN=${MISP_PHP_SESSION_COOKIE_DOMAIN}"
      - "PHP_SESSION_COOKIE_SAMESITE=${MISP_PHP_SESSION_COOKIE_SAMESITE:-Lax}"
      - "PHP_TIMEZONE=${MISP_PHP_TIMEZONE:-UTC}"
      - "HSTS_MAX_AGE=${MISP_HSTS_MAX_AGE}"
      - "X_FRAME_OPTIONS=${MISP_X_FRAME_OPTIONS}"
      - "CONTENT_SECURITY_POLICY=${MISP_CONTENT_SECURITY_POLICY}"
    networks:
      - misp-net

  misp-modules:
    image: ghcr.io/misp/misp-docker/misp-modules:${MISP_MODULES_RUNNING_TAG:-latest}
    restart: always
    build:
      context: modules/.
      args:
        - MODULES_TAG=${MISP_MODULES_TAG:?Missing or outdated .env file, see README.md for instructions}
        - MODULES_COMMIT=${MISP_MODULES_COMMIT}
        - MODULES_FLAVOR=${MISP_MODULES_FLAVOR:-standard}
    healthcheck:
      test: "/bin/bash -c '</dev/tcp/localhost/6666'"
      interval: 2s
      timeout: 1s
      retries: 3
      start_period: 5s
      start_interval: 5s
    volumes:
      - "./custom/action_mod/:/custom/action_mod/:Z"
      - "./custom/expansion/:/custom/expansion/:Z"
      - "./custom/export_mod/:/custom/export_mod/:Z"
      - "./custom/import_mod/:/custom/import_mod/:Z"
    networks:
      - misp-net

  misp-guard:
    profiles:
      - misp-guard
    restart: always
    image: ghcr.io/misp/misp-docker/misp-guard:${MISP_GUARD_RUNNING_TAG:-latest}
    build:
      context: guard/.
      args:
        - GUARD_TAG=${MISP_GUARD_TAG:?Missing or outdated .env file, see README.md for instructions}
        - GUARD_COMMIT=${MISP_GUARD_COMMIT}
    depends_on:
      - misp-core
    ports:
      - "${MISP_GUARD_PORT:-8888}:${MISP_GUARD_PORT:-8888}"
    environment:
      - "GUARD_PORT=${MISP_GUARD_PORT:-8888}"
      - "GUARD_ARGS=${MISP_GUARD_ARGS}"
    volumes:
      - ./guard/config.json:/config.json:ro
    healthcheck:
      test: "/bin/bash -c '</dev/tcp/localhost/${MISP_GUARD_PORT:-8888}'"
      interval: 2m
      timeout: 5s
      retries: 3
      start_period: 10s
    networks:
      - misp-net

volumes:
  mysql_data:
  cache_data:

networks:
  misp-net:
    driver: bridge
